/*landing page styles*/
body {
	padding: 0;
	margin: 0;
}
button {
	outline: none;
}

/*navbar section*/
.navbar-section {
	width: 100%;
	height: 134px;
	background: ;
	position: relative;
	z-index: 300;
}
.navbar-section-mobile{
	width: 100%;
	height: 134px;
	background: ;
	position: relative;
	z-index: 300;
}
.navbar-section-mobile .logo{
	margin: 48px 0px;
	margin-left: 39px;
	width: 114px;
	height: 27px;
}

.navbar-section-mobile .menu-btn {
	position: absolute;
	width: 133px;
	height: 51px;
	right: 5px;
	top: 35px;
	background: transparent;
	border: none;
	box-sizing: border-box;
	border-radius: 4px;
	font-family: Manrope;
	font-size: 17px;
	color: #FFFFFF;
	
}
.navbar-section .logo{
	margin: 48px 0px;
	margin-left: 119px;
	width: 114px;
	height: 27px;
}
.navbar-section .signup-btn {
	position: absolute;
	width: 133px;
	height: 51px;
	right: 115px;
	top: 35px;
	background: transparent;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 4px;
	font-family: Manrope;
	font-size: 17px;
	line-height: 22px;
	text-decoration: none;
	letter-spacing: -0.015em;
	/*padding-left: 30%;*/

	color: #FFFFFF;
}
.navbar-section .login-btn {
	position: absolute;
	width: 133px;
	height: 51px;
	right: 255px;
	top: 35px;
	background: transparent;
	border: none;
	box-sizing: border-box;
	border-radius: 4px;
	font-family: Manrope;
	font-size: 17px;
	line-height: 22px;
	/* identical to box height */
	letter-spacing: -0.015em;
	text-decoration: none;
	color: #FFFFFF;
	padding: auto auto;
}



/*hero section*/
.hero-section {
	width: 100%;
	height: 650px;
	/*background-color: linear-gradient(0deg, rgba(0, 0, 0, 0.62), rgba(0, 0, 0, 0.62)), linear-gradient(180deg, #0BB1E3 0%, #0D6FAE 48.44%, #0F2976 100%);
	mix-blend-mode: multiply;
	opacity: 0.7;*/
	position: relative;
	background-image: url('../img/cheerful-office-worker-PKNP4QC.png');
	z-index: 0;
}
.hero-section img.layer {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.hero-section .content {
	margin-top: 150px;
	font-family: Roboto Slab;
	color: #fff;
	font-style: normal;
	font-weight: normal;
	font-size: 350%;
	line-height: 50px;
	position: relative;
	z-index: 3;
}

.hero-section .sub {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 132%;
	/* or 24px */
	margin-top: 30px;
	text-align: center;
	letter-spacing: 0.04em;
	position: relative;
	z-index: 3;
	color: rgba(255, 255, 255, 0.87);
}
.hero-section .sub button {
	width: 367px;
	height: 54px;
	color: #fff;
	font-size: 15px;
	background: linear-gradient(90deg, #0EB3E4 2.49%, #0E9CD2 100%);
	box-shadow: 0px 20px 40px rgba(13, 57, 120, 0.21);
	border-radius: 2px;
	border: none;
	margin-top: 40px;
}


.section-2 {
	background: #E5E5E5;
	min-height: 700px;
	padding-bottom: 50px;
}

.section-2 .testimonials .hedding {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 132%;
	padding-top: 40px;
	text-align: center;

	color: #ABB2C4;
}

.testi {
	margin-top: 20px;
}

.how-it-works {
	margin-top: 40px;
	text-align: center;
}
.how-it-works h2 {
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	line-height: 66px;
	/* identical to box height */

	color: #1D2047
}
.how-it-works h3 {
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 34px;
	text-align: center;

	color: #1D2047;
}

.how-it-works p {
	font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 146.5%;
width: 270px;
/* or 26px */
text-align: center;

color: #8C8C8C;
}

.learn-more {
	width: 165px;
	height: 50px;
	margin-top: 20px;
	background: transparent;
	border: 2px solid rgba(12, 164, 217, 0.32);
	box-sizing: border-box;
	border-radius: 5px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 125.5%;
	/* identical to box height, or 20px */

	color: #0FA3D8;
}

.promo {
	width: 100%;
	padding-left: 20%;
}

.promo h2 {
	width: 70%;
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 53px;

	color: #1D2047;
}

.promo button {
	width: 290px;
	height: 54px;
	color: #fff;
	font-size: 15px;
	background: linear-gradient(90deg, #0EB3E4 2.49%, #0E9CD2 100%);
	box-shadow: 0px 20px 40px rgba(13, 57, 120, 0.21);
	border-radius: 2px;
	border: none;
	margin-top: 20px;
}

.doss {
	margin-top: 50px;	
}

.doss .kidds {
	position: relative;
	width: 60%;
	margin-left: 300px;
}
.doss .kidds-3 {
	position: absolute;
	right: 100px;
	margin-top: 120px;
	width: 30%;
}

.features {
	min-height: 500px;
	padding-bottom: 50px;
}
.features .img-1 {
	/*position: absolute;*/
	width: 100%;
	height: 361px;
	/*left: -14px;
	top: 3024px;*/
	/*background: red;*/
/*margin-left: 50px;*/
	background: url('../img/image 15.png') no-repeat;
}
.features .img-2 {
	/*position: absolute;*/
	width: 100%;
	height: 361px;
	/*left: -14px;
	top: 3024px;*/
	/*background: red;*/
	background: url('../img/image 151.png') no-repeat;
}
.features .img-3 {
	/*position: absolute;*/
	width: 100%;
	height: 361px;
	/*left: -14px;
	top: 3024px;*/
	/*background: red;*/
	background: url('../img/image 153.png') no-repeat;
}
.features .img-4 {
	/*position: absolute;*/
	width: 100%;
	height: 361px;
	/*left: -14px;
	top: 3024px;*/
	/*background: red;*/
	background: url('../img/image 154.png') no-repeat;
}

.features .overlay {
	position: relative;
	width: 100%;
	height: 100%;
}

.features .herf {
	font-family: Roboto Slab;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 46px;
margin-left: 230px;
margin-top: 50px;
margin-bottom: 70px;
color: #1D2047;
}

.employment {
	margin-top: 220px;
}

.employment .topic {
	font-family: Manrope;
font-size: 18px;
line-height: 25px;
/* identical to box height */
letter-spacing: 0.19em;

color: #F6B421;

}

.employment .heed {
	font-family: Roboto Slab;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 66px;

color: #1D2047;
}

.employment .cont {
	font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 153.77%;
text-align: justify;
width: 500px;
/* or 28px */

color: #8E8D8D;
}

.employment button {
	width: 367px;
	height: 54px;
	color: #fff;
	font-size: 15px;
	background: linear-gradient(90deg, #0EB3E4 2.49%, #0E9CD2 100%);
	box-shadow: 0px 20px 40px rgba(13, 57, 120, 0.21);
	border-radius: 2px;
	border: none;
	margin-top: 40px;
}



