/*landing page styles*/
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap');
@font-face {
    font-family: "Manrope";
    src: url('../fonts/manrope/manrope-bold.otf')
}
body {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}
button {
	outline: none;
}

/*navbar section*/
.navbar-section {
	width: 100%;
	height: 134px;
	background: ;
	position: relative;
	z-index: 300;
}
.navbar-section-mobile{
	width: 100%;
	height: 134px;
	background: ;
	position: relative;
	z-index: 300;
}
.navbar-section-mobile .logo{
	margin: 48px 0px;
	margin-left: 39px;
	width: 114px;
	height: 27px;
}

.navbar-section-mobile .menu-btn {
	position: absolute;
	width: 133px;
	height: 51px;
	right: 5px;
	top: 35px;
	background: transparent;
	border: none;
	box-sizing: border-box;
	border-radius: 4px;
	font-family: Manrope;
	font-size: 22px;
	color: #FFFFFF;
	
}
.navbar-section .logo{
	margin: 48px 0px;
	margin-left: 119px;
	width: 114px;
	height: 27px;
}
.navbar-section .signup-btn {
	position: absolute;
	width: 133px;
	height: 51px;
	right: 115px;
	top: 35px;
	background: transparent;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 4px;
	font-family: Manrope;
	font-size: 17px;
	line-height: 22px;
	text-decoration: none;
	letter-spacing: -0.015em;
	/*padding-left: 30%;*/

	color: #FFFFFF;
}
.navbar-section .login-btn {
	position: absolute;
	width: 133px;
	height: 51px;
	right: 255px;
	top: 35px;
	background: transparent;
	border: none;
	box-sizing: border-box;
	border-radius: 4px;
	font-family: Manrope;
	font-size: 17px;
	line-height: 22px;
	/* identical to box height */
	letter-spacing: -0.015em;
	text-decoration: none;
	color: #FFFFFF;
	padding: auto auto;
}



/*hero section*/
.hero-section {
	width: 100%;
	height: 650px;
	/*background-color: linear-gradient(0deg, rgba(0, 0, 0, 0.62), rgba(0, 0, 0, 0.62)), linear-gradient(180deg, #0BB1E3 0%, #0D6FAE 48.44%, #0F2976 100%);
	mix-blend-mode: multiply;
	opacity: 0.7;*/
	position: relative;
	background-image: url('../img/cheerful-office-worker-PKNP4QC.png');
	z-index: 0;
}
.hero-section img.layer {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.hero-section .content {
	margin-top: 150px;
	font-family: Roboto Slab;
	color: #fff;
	font-style: normal;
	font-weight: normal;
	font-size: 350%;
	line-height: 50px;
	position: relative;
	z-index: 3;
}

.hero-section .sub {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 132%;
	/* or 24px */
	margin-top: 30px;
	text-align: center;
	letter-spacing: 0.04em;
	position: relative;
	z-index: 3;
	color: rgba(255, 255, 255, 0.87);
}
.hero-section .sub button {
	width: 367px;
	height: 54px;
	color: #fff;
	font-size: 15px;
	background: linear-gradient(90deg, #0EB3E4 2.49%, #0E9CD2 100%);
	box-shadow: 0px 20px 40px rgba(13, 57, 120, 0.21);
	border-radius: 2px;
	border: none;
	margin-top: 40px;
}


.section-2 {
	background: #E5E5E5;
	min-height: 700px;
	padding-bottom: 50px;
}

.section-2 .testimonials .hedding {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 132%;
	padding-top: 40px;
	text-align: center;

	color: #ABB2C4;
}

.testi {
	margin-top: 20px;
}

.how-it-works {
	margin-top: 40px;
	text-align: center;
}
.how-it-works h2 {
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	line-height: 66px;
	/* identical to box height */

	color: #1D2047
}
.how-it-works h3 {
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 34px;
	text-align: center;

	color: #1D2047;
}

.how-it-works p {
	font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 146.5%;
width: 270px;
/* or 26px */
text-align: center;

color: #8C8C8C;
}

.learn-more {
	width: 165px;
	height: 50px;
	margin-top: 20px;
	background: transparent;
	border: 2px solid rgba(12, 164, 217, 0.32);
	box-sizing: border-box;
	border-radius: 5px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 125.5%;
	/* identical to box height, or 20px */

	color: #0FA3D8;
}

.promo {
	width: 100%;
	padding-left: 20%;
}

.promo h2 {
	width: 70%;
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 53px;

	color: #1D2047;
}

.promo button {
	width: 290px;
	height: 54px;
	color: #fff;
	font-size: 15px;
	background: linear-gradient(90deg, #0EB3E4 2.49%, #0E9CD2 100%);
	box-shadow: 0px 20px 40px rgba(13, 57, 120, 0.21);
	border-radius: 2px;
	border: none;
	margin-top: 20px;
}

.doss {
	margin-top: 50px;	
}

.doss .kidds {
	position: relative;
	width: 60%;
	margin-left: 300px;
	z-index: 3;
}
.doss .kidds-3 {
	position: absolute;
	right: 100px;
	margin-top: 120px;
	width: 30%;
	z-index: 4;
}

.doss .dotts {
	position: absolute;
	z-index: 2;
	margin-top: 10px;
	right: 40px; 
}

.doss .dotas {
	position: absolute;
	z-index: 2;
	margin-top: 230px;
	left: 40px; 
}

.features {
	min-height: 500px;
}
.droop {
	height: 500px;
}
.features .img-1 {
	/*position: absolute;*/
	width: 90%;
	height: 361px;
	/*left: -14px;
	top: 3024px;*/
	/*background: red;*/
/*margin-left: 50px;*/
	background: url('../img/image 15.png') no-repeat;
}
.features .img-2 {
	/*position: absolute;*/
	width: 90%;
	height: 361px;
	/*left: -14px;
	top: 3024px;*/
	/*background: red;*/
	background: url('../img/image 151.png') no-repeat;
}
.features .img-3 {
	/*position: absolute;*/
	width: 90%;
	height: 361px;
	/*left: -14px;
	top: 3024px;*/
	/*background: red;*/
	background: url('../img/image 153.png') no-repeat;
}
.features .img-4 {
	/*position: absolute;*/
	width: 90%;
	height: 361px;
	/*left: -14px;
	top: 3024px;*/
	/*background: red;*/
	background: url('../img/image 154.png') no-repeat;
}

.features .overlay {
	position: relative;
	width: 100%;
	height: 100%;
}
.icon {
	margin-top: 50%;
	margin-left: 40%;
	margin-bottom: 30px;	
}
.img-content {
	font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 125.5%;
/* or 28px */
text-align: center;

color: #FFFFFF;
}
.features .herf {
	font-family: Roboto Slab;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 46px;
margin-left: 15%;
margin-top: 50px;
margin-bottom: 70px;
color: #1D2047;
}

.employment {
	margin-top: 220px;
}

.employment .topic {
	font-family: Manrope;
font-size: 18px;
line-height: 25px;
/* identical to box height */
letter-spacing: 0.19em;

color: #F6B421;

}

.employment img.conf {
	width: 90%;
}

.employment .heed {
	font-family: Roboto Slab;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 66px;

color: #1D2047;
}

.employment .cont {
	font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 153.77%;
text-align: justify;
width: 96%;
/* or 28px */

color: #8E8D8D;
}

.employment button {
	width: 367px;
	height: 54px;
	color: #fff;
	font-size: 15px;
	background: linear-gradient(90deg, #0EB3E4 2.49%, #0E9CD2 100%);
	box-shadow: 0px 20px 40px rgba(13, 57, 120, 0.21);
	border-radius: 2px;
	border: none;
	margin-top: 40px;
}


.client-talk {
	padding-left: 10%;
	padding-top: 20px;
}

.client-talk .heading {
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	line-height: 66px;

	color: #1D2047;
}

.client-talk .box-in {
	width: 378px;
	height: 322px;
	left: 941px;
	top: 4523px;
	margin-top: 50px;
	background: #FFFFFF;
	border-radius: 4px;
	padding: 15px 25px;
}

.client-talk .box-in:hover {
	
	box-shadow: 0px 16px 100px rgba(131, 131, 131, 0.25);
}

.client-talk .box-in .comment {
	font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 146%;
/* or 26px */
letter-spacing: 0.02em;

color: #838383;
width: 80%;
}

.client-talk .box-in .footer {
	position: absolute;
	bottom: 0px;
	min-height: 70px;
	width: 100%;
}

.client-talk .box-in .footer img { 
	border-radius: 100%;
	width: 50px;
	height: 50px;
}

.client-talk .box-in .footer .off {
	font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 15px;
/* or 26px */

color: #838383;
}

.client-talk .box-in .footer .aff {
	font-family: Roboto Slab;
font-style: normal;
font-weight: normal;
font-size: 18px;
color: #1D2047;
}


.b-4-footer {
	width: 100%;
min-height: 194px;
padding: 50px 8%;
background: #FBFBFB;
mix-blend-mode: normal;
}

.b-4-footer .contact {
	font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
letter-spacing: 0.25em;
text-transform: uppercase;

color: #FFB800;
}

.b-4-footer .contact-white {
	font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
letter-spacing: 0.25em;
text-transform: uppercase;

color: transparent;
}

.b-4-footer .tally {
	margin-top: 25px;
}

.b-4-footer .tally img {
	margin-right: 20px;
}

.b-4-footer .tally span {
	font-family: Roboto Slab;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 47px;

color: #1D2047;
}

.customer {
	padding-top: 0px;
	margin-top: 180px;
	height: 500px;
	/*background: grey;*/
}

.customer .dots {
	width: 350px;
	height: 500px;
	position: relative;
	left: -100px;
	z-index: 0;
}

.customer .girl {
	position: relative;
	width: 650px;
	height: 650px;
	margin-top: -154px;
	z-index: 5;
}

.customer .card {
	position: relative;
	margin-left: -360px;
	z-index: 6;
}


.customer .topic {
	font-family: Manrope;
font-size: 18px;
line-height: 25px;
/* identical to box height */
letter-spacing: 0.19em;

color: #F6B421;

}

.customer .heed {
	font-family: Roboto Slab;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 66px;

color: #1D2047;
}

.customer .cont {
	font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 153.77%;
text-align: justify;
width: 96%;
/* or 28px */

color: #8E8D8D;
}

.customer button {
	width: 367px;
	height: 54px;
	color: #fff;
	font-size: 15px;
	background: linear-gradient(90deg, #0EB3E4 2.49%, #0E9CD2 100%);
	box-shadow: 0px 20px 40px rgba(13, 57, 120, 0.21);
	border-radius: 2px;
	border: none;
	margin-top: 40px;
}


section.footer {
	min-height: 369px;
	background: linear-gradient(180deg, #0BB1E3 -33.33%, #0F2976 100%);
	padding: 70px 0px 0px 0px;
}

.footer .stage-1 {
	margin: 0px 120px;
	padding-bottom: 40px;
}

.footer .heading {
width: 221px;
height: 48px;
font-family: Roboto Slab;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;

color: #FFFFFF;

}

.footer ul {
	list-style-type: none;
	text-align: left;
	padding-left: 0;
	margin-top: 20px;

}

.footer ul li {
	font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 26px;

color: #DADADA;
}
.footer ul li a {
	text-decoration: none;
	color: inherit;
}

.footer ul li a:hover {
	color: #fff;
}

.footer .after-footer {
	height: 90px;
	border: none;
	border-top: 2px solid rgba(255, 255, 255, 0.22);
	padding: 23px 255px auto 122px;
}

.footer .after-footer div img {
	margin-top: 35px;
	margin-left: 20%;
}
.footer .after-footer .dossr {
	font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 14px;
/* identical to box height */
margin-top: 43px;
/*margin-left: 20px;*/
color: #DADADA;
}


.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-content {
	min-height: 700px;
}
.modal-body {
	padding: 0;
}
.modal-content .sidebar-1 {
	min-height: 780px;
	background: linear-gradient(180deg, #0BB1E3 -33.33%, #0B7CA3 100%);
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
}

.modal-content .sidebar-1 button {
	padding: 0;
	width: 100%;
	height: 175px;
	background: transparent;
	box-shadow: -9px 19px 40px rgba(0, 0, 0, 0.02);
	border-radius: 5px;
	border: none;
	text-align: left;
}

.modal-content .sidebar-1 button .text{
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 32px;
	position: relative;
	
	left: 30px;
	color: #1C414F;
}

.modal-content .sidebar-1 button .head {
	position: relative;
	/*top: -20px;*/
	left: 30px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 19px;
	/* identical to box height, or 136% */
	letter-spacing: 3px;

	color: rgba(67, 67, 67, 0.61);
}

button.business {
	margin-top: 100px;
}

.modal-content .row, .modal-content .col-lg-3, .modal-content .col-lg-9, .modal-content .col-xs-12{
	padding: 0 !important;
}

/*.modal-content .col-lg-9, .modal-content .col-xs-12{
	padding: 0 !important;
}*/

.active-tab {
	background: #FFFFFF !important;
}
.form {
	position: relative;
	min-height: 700px;
}

.form .body {
	padding: 49px 65px;
	/*padding-left: 65px; */
}

.form .body label {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	/* identical to box height */

	color: rgba(138, 138, 138, 0.46);
}

.form .footer {
	height: 100px;
	width: 98%;
	position: absolute;
	bottom: 0px;
	z-index: 10;
	border: none;
	border-top: 2px solid rgba(0, 0, 0, 0.09);
}

.form .header {
	min-height: 110px;
	width: 98%;
	position: absolute;
	top: 0px;
	z-index: 10;
	border: none;
	border-bottom: 2px solid rgba(0, 0, 0, 0.09);
}
.nav-tabs {
	border: none !important;
}

.form .header .busin, .form .header .indivi {
	padding-left: 45px;
	/*padding-top: 25px;*/
}

.form .header .mobile-shard {
	padding-left: 25%;
	margin-bottom: 25px;
	/*padding-right: 25%;*/
}

.form .body {
	margin-top: 150px;
}

.form .body .form-text-input {
	width: 90%;
	height: 50px;
	border: none;
	border-bottom: 2px solid rgba(169, 169, 169, 0.22);
	outline: none;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	line-height: 20px;
	/* identical to box height */

	color: #4B4B4B;
}

.form button {
	width: 40%;
	height: 54px;
	color: #fff;
	font-size: 15px;
	background: linear-gradient(90deg, #0EB3E4 2.49%, #0E9CD2 100%);
	box-shadow: 0px 20px 40px rgba(13, 57, 120, 0.21);
	border-radius: 2px;
	border: none;
	margin-top: 40px;
}

.register {
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 47px;

	color: #656565;
}

.friar {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 19px;
	/* identical to box height, or 106% */

	color: #A8A8A8;
}

.nav-tabs li a{
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 19px;
	/* identical to box height, or 136% */
	letter-spacing: 3px;

	color: rgba(67, 67, 67, 0.61);
}


